<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sunflower-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8EFAA6D2DF2B12600FDC114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8EFAA7A2DF2B12700FDC114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8EFAA842DF2B12700FDC114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
